.avatarWrapper {
  aspect-ratio: 23 / 30;
  position: relative;
  display: flex;
  border: 0;
  background: transparent;
  padding: 0;
}

.avatarWrapper::after {
  content: "";
  aspect-ratio: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(202, 206, 184);
  border: solid 0.125rem rgb(115, 121, 87);
  border-radius: 1000px;
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
}

.avatarWrapper.shadow::after {
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.15),
    0 10px 28px rgba(0, 0, 0, 0.3);
}

.avatarWrapper.empty::after {
  border-style: dashed;
  background-color: rgba(202, 206, 184, 0.5);
}

.avatar {
  aspect-ratio: 23 / 30;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  margin: 0.125rem;
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: rgb(47, 55, 48);
  text-shadow: none;
}

span.avatar {
  padding-top: 30%;
}

.clickable {
  cursor: pointer;
}

.online::after {
  border-color: rgb(90, 126, 71);
}

.pulsing::before {
  animation: ping 2s infinite;
  content: "";
  aspect-ratio: 1;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 0.25rem rgb(223, 228, 197);
  border-radius: 1000px;
  position: absolute;
  box-sizing: border-box;
  z-index: 0;
}

.red::after {
  border-color: rgb(170, 51, 51);
}

.blue::after {
  border-color: rgb(52, 54, 160);
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
